@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: manrope;
  src: url(/fonts/Manrope.ttf);
}

@font-face {
  font-family: headers;
  src: url(/fonts/OrchideaPro-ExtraLight.ttf);
}
